$primary-purple: #E6E0FF;
$primary-green: #A8E6A1;
$bg-white: #FFFFFF;
$text-black: #000000;
$gray-light: #F5F5F5;
$shadow: 0 4px 15px rgba(0,0,0,0.1);
$font-main: 'Arial', sans-serif;
// Variables bach t-thkmi f l-alwan s-hla
$bg-purple: #e9e4ff; // Hadak l-on l-violet l-fateh
$text-gray: #a19eb7;
$shadow-color: rgba(0, 0, 0, 0.05);
$purple-light: #eceaff; // Hadak l-violet l-barid lli f t-swira
$icon-color: #000000;
$placeholder-color: #a09cb4;

