@import 'variables';
@import 'cards';
@import 'modal';
@import 'responsive';
body {
    margin: 0;
    font-family: $font-main;
    background-color: $bg-white;
}
#app {
    max-width: 400px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}